<?php

return [
    'db' => [
        'type' =>\Engine\engine\DB::DB_POSTGRES,
        'host' => 'localhost',
        'dbname' => 'e_w',
        'username' => 'e_w',
        'password' => 'e_w'
        'partitioning_enabled' => true
    ],
];
